<div class="card">
    <div class="card-body">
        <h3 class="card-title">
            Lets See the Latest News on freep.com
        </h3>
    </div>
</div>
<div class="row">
    <div>
        {{#each}}
        <h5>
            {{this.title}}
        </h5>
        <a href="/readArticle/{{this.id}}" class="btn btn-warning">Read Article</a>
        {{/each}}
    </div>
</div>