<nav>
    <div class="nav nav-pills nav-justified">
        <a href="/" class="brand-logo center">Scrape the Onion</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            
        </ul>
    </div>
</nav>